section.magDesign
    .sectionWrap
        h3 Magazine Design
        
        .buttonWrap
            .button.info More info
            a(href='/magdesign/').button Show me!

        .section-text
            p <strong>A few years ago,</strong> I was approached and asked to join a team of people striving to revive my school's old magazine from 1966. This was the rebirth of The Martlet (the website for which I also wrote), a student-led magazine, available both online and in print. Oh, it's also won awards nationally- as have I for my work designing it, and several other team members for their amazing contributions.
