section.webDev
    .sectionWrap
        h3 Website Development
        
        .buttonWrap
            .button.info More info
            a(href='/webdev/').button Show me!
        
        .section-text
            p <strong>At about 10 years old,</strong> I got bored of playing on my PlayStation and decided to learn something at home. I looked on the internet and found this weird language called HTML, so I researched it and eventually got to the point where, now, I make (hopefully) fully-functional websites for people! You can see some of my work by clicking the 'Show Me!' button above.
